<div class="col-xs-12 col-md-8">
    <ul class="menu-header">
        <li>Abra sua conta</li>
        <li>Investimentos</li>
        <li>Planos</li>
    </ul>    
</div>
<div class="col-xs-12 col-md-4">
    <form>
        <div class="form-row align-items-center">
            <div class="col-sm-3 my-1">
                <label for="inlineFormINputName" class="sr-only"> Name</label>
                <input type="text" class="form-control" id="inlineFormInputName" placeholder="Jane Doe">
            </div>
            <div class="col-sm-3 my-1">
                <label for="inlineFormInputGroupUsername" class="sr-only">CPF</label>
    
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormINputGroupUsername" placeholder="Username">
                </div> 
            </div>
            <div class="col-auto my-1">
                <div class="form-check">
                    <input type="text" class="form-check-input" type="checkbox" id="autoSizingCheck2">
                    <label for="autoSizingCheck2" class="form-check-label">Remember me</label>
                </div>
            </div> 
            <div class="col-auto my-1">
                <button type="submit" class="btn btn-primary">
                    Acessar
                </button>
            </div>   
        </div>
    </form>    
</div>
